@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
html,
body {
  color: #333;
  margin: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
.btn {
  padding: 0 14px;
  box-sizing: border-box;
  height: 40px;
  font-size: 11px;
  border: 0;
  box-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #9f0d64;
  color: #fff;
}
.header {
  padding: 0 8.333%;
  box-sizing: border-box;
  background: url('/img/background.jpg');
  width: 100%;
  height: 750px;
  position: relative;
}
.header .top-header {
  height: 120px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.header .top-header .logo,
.header .top-header .tel {
  width: 50%;
  display: inline-block;
}
.header .top-header .logo {
  text-align: left;
}
.header .top-header .tel {
  text-align: right;
  font-size: 21px;
  font-weight: 400;
}
.header .main-header {
  margin-top: 105px;
  width: 50%;
  position: relative;
  z-index: 99;
}
.header .main-header h1 {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 75px;
}
.header .main-header p {
  font-size: 16px;
  margin-bottom: 75px;
}
.header .main-header .forma {
  height: 102px;
  width: 500px;
  display: table;
  background-color: #879e43;
  border-radius: 3px;
  padding: 15px 10px 15px;
  box-sizing: border-box;
}
.header .main-header .forma p {
  margin: 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 15px;
}
.header .main-header .forma input {
  background-color: #eceae3;
  border: 0;
  box-shadow: none;
  font-size: 16px;
  padding: 0 10px;
  height: 39px;
  margin-right: 5px;
  box-sizing: border-box;
}
.header .main-header .forma input:nth-child(2) {
  width: 180px;
}
.header .main-header .forma input:nth-child(3) {
  width: 195px;
}
.header img.woman {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 65%;
}
.section,
.price {
  text-align: center;
  padding-top: 70px;
  display: table;
  width: 100%;
}
.section h2,
.price h2 {
  font-size: 27px;
  font-weight: 400;
  margin-top: 0;
}
.section ul li,
.price ul li {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.section ul li p,
.price ul li p {
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
.section {
  background-color: #fff;
}
.section h2 {
  margin-bottom: 75px;
}
.section h2.videoTitle {
  margin-bottom: 60px;
}
.section h2.uniqueTitle {
  margin: 20px 0 90px;
}
.section ul {
  padding: 0 5%;
  margin: 0;
}
.section ul li {
  width: 33%;
  padding: 0 10px;
  margin-bottom: 60px;
}
.section ul li img {
  margin-bottom: 45px;
  max-width: 100%;
  height: auto;
}
.section ul.uniqueUl li {
  margin-bottom: 100px;
}
.section ul.uniqueUl li h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
}
.section ul.uniqueUl li img {
  margin-bottom: 60px;
}
.price {
  padding-bottom: 65px;
  background: url('/img/background.jpg');
  height: 687px;
  box-sizing: border-box;
}
.price h2 {
  margin-bottom: 70px;
}
.price p.headerText {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  margin: 0;
  margin-bottom: 90px;
}
.price ul {
  padding: 0 10%;
  margin: 0;
}
.price ul li {
  width: 50%;
  margin-right: -3px;
}
.price ul li h3 {
  color: #9f0d64;
  font-weight: 700;
  font-size: 27px;
  margin: 0;
  margin-bottom: 100px;
}
.price ul li:nth-child(1) {
  padding-right: 10%;
}
.price ul li:nth-child(2) {
  padding-left: 10%;
}
.price p.footerText {
  margin: 0;
  margin-top: 125px;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}
.map {
  width: 100%;
  height: 450px;
  position: relative;
  z-index: 100;
}
.map .contacts {
  height: 395px;
  width: 300px;
  border-radius: 3px;
  background-color: #222322;
  position: absolute;
  right: 8.333%;
  top: 28px;
  z-index: 999;
  text-align: left;
  padding: 30px 15px 20px;
  box-sizing: border-box;
  color: #fff;
}
.map .contacts h2 {
  font-weight: 700;
  font-size: 20px;
}
.map .contacts p {
  font-size: 17px;
  font-weight: 400;
}
.map .contacts p .spb {
  font-size: 20px;
}
.map .contacts p span {
  font-size: 14px;
}
.map .contacts p.write {
  font-size: 18px;
}
.map .contacts button {
  font-size: 10px;
}
