@fiolet: #9f0d64;
@sidePaddings: 10%;
@fszp: 16px;
@fszt: 26px;
@font: open-sans, sans-serif;

.centerV() {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    //    justify-content: center;
}

html,
body {
    color: #333;
    margin: 0;
    width: 100%;
    background: url('/img/background.jpg') center;
    background-repeat: repeat-y;
    background-size: cover;
    font-family: @font;
}

.header {
    padding: 0 @sidePaddings;
    box-sizing: border-box;
    width: 100%;
    height: 750px;
    .top-header {
        height: 120px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        .centerV();
        .logo,
        .tel {
            width: 50%;
            display: inline-block;
        }
        .logo {
            text-align: left;
        }
        .tel {
            text-align: right;
            font-size: 21px;
            font-style: normal;
            font-weight: 300;
        }
    }
    .main-header {
        margin-top: 105px;
        width: 50%;
        h1 {
            font-size: @fszt;
            font-weight: bold;
            margin-bottom: 75px;
        }
        p {
            font-size: @fszp;
            margin-bottom: 75px;
        }
        .forma {
            height: 102px;
            width: 100%;
            background-color: #879e43;
            border-radius: 3px;
            padding: 15px 10px 15px;
            box-sizing: border-box;
            p {
                margin: 0;
                font-size: @fszp;
                color: #fff;
                margin-bottom: 15px;
            }
            input {
                background-color: #eceae3;
                border: 0;
                box-shadow: none;
                font-size: @fszp;
                padding: 0 10px;
                height: 39px;
                width: 180px;
            }
            button {
                padding: 0 5px;
                height: 40px;
                font-size: 11px;
                border: 0;
                box-shadow: none;
                text-transform: uppercase;
                cursor: pointer;
                background-color: @fiolet;
                color: #fff;
            }
        }
    }
}